
# If a directory or a file exists, use it directly
RewriteEngine on
RewriteRule ^admin(/(.*))?$ backend/web/$2 [S=1]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise forward it to index.php
RewriteRule . index.php